@charset "utf-8"

/* サイドバー
.emside
    padding-top: rem(3)
    transition: opacity 0.7s
    transition-delay: 0.7s
    visibility: visible
    > .sidelogo
        margin-top: 15px
        border-top: solid 1px #cbcbcb
        .poweredby
            margin-top: rem(1.3)
            margin-left: 5px
    &.empty
        opacity: 0
        transition-delay: 0s
        visibility: hidden
        transition: opacity 0.7s, visibility 0s
    > .block
        margin-bottom: rem(0.7)
        font-size: rem(1.4)
        &:last-child
            border-bottom: solid 1px #cbcbcb
        > p
            font-size: rem(1.6)
            padding-bottom: rem(0.7)
            padding-top: rem(1)
            vertical-align: middle
            margin-top: 0
            margin-bottom: rem(1)
            color: #666666
            font-weight: bold
            text-align: left
            border-bottom: solid 1px #cbcbcb
        > .items
            a
                text-decoration: none
            button, a
                color: #0074D9
                border: 0
                display: block
                width: 100%
                text-align: left
                background-color: #fff
                cursor: pointer
                font-size: rem(1.4)
                line-height: rem(3)
                transition: background-color 0.1s
                padding: 1px 6px
                &:hover, &:focus
                    background-color: #eee
                &:focus
                    transition: none
                &.active
                    font-weight: 600
                    color: #666
            a.external
                &:hover, &:focus
                    background: #eee url('assets/external.png') no-repeat 95% center
