<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name=viewport content="width=device-width, initial-scale=1"/>
    <title><%- page.title %></title>
    <%- head %>
</head>
<body>
<a href="http://www.lib.tajimi.gifu.jp/" class="backLibrary">多治見市図書館のウェブサイトへ</a>
<h1 class="logo">
    <a href="./"><img src="assets/logo.png" alt="東濃地域の本をさがぞう とことんサーチ" border="0"></a>
</h1>
<img src="assets/banner.png" alt="" class="background">
<%- body %>
<%- script %>
</body>
</html>
